<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url=/archive/" />
</head>
<body>
    <!-- THIS PAGE IS JUST HERE SO WHEN YOU GO TO /archive/1 IN THE PAGINATION, IT IMMEDIATELY REDIRECTS TO /archive -->
    <p>
        Redirecting...
    </p>
</body>
</html>
