---
import PageLayout from "../layouts/PageLayout.astro";

---

<PageLayout title=""
description=""
keywords=""
canonicalURL="https://./about"
robotsContent="index, follow">
	<main>
		
	</main>
</PageLayout>

<style></style>
